<div class="chat">
  <div class="chatMenu">
    <div class="chatMenuWrapper">
      <span>Conversations</span>
      <app-conversation></app-conversation>
      <app-conversation></app-conversation>
      <app-conversation></app-conversation>
      <app-conversation></app-conversation>
    </div>
  </div>
  <div class="chatBox">
    <div class="chatBoxWrapper">
      <div class="chatBoxTop">
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
      </div>
      <div class="chatBoxBottom">
        <input
          type="text"
          placeholder="Type a message"
          class="chatMessageInput"
        />
        <button class="chatSubmitButton">Send</button>
      </div>
    </div>
  </div>
  <div class="chatOnline">
    <div class="chatOnlineWrapper">online</div>
  </div>
</div>
