.homeContainer {
  display: flex;
}

.leftbar {
  flex: 2.5;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background-color: rgb(250, 245, 245);
}
::-webkit-scrollbar-thumb {
  width: 2px;
}
.leftbarWrapper {
  padding: 20px;
}

.feed {
  flex: 6.5;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

.feedWrapper {
  padding: 20px;
}

.rightbar {
  flex: 3;
}

.rightbarWrapper {
  padding: 20px;
}
